.add{
    position: relative;
}
.add:before{
    position: absolute;
    content:"";
    left: 0;
    top:0;
    width: 100%;
    height: 40px;
    background-color:#262626;
    transition:0.5s;
}
.add:hover:before{
    height: 80px;
}
.add:after{
    position: absolute;
    content:"";
    left: 0;
    bottom:0;
    width: 100%;
    height: 40px;
    background-color:#1b47d8;
    transition:0.5s;
}
.add:hover:after{
    height: 80px;
}